
<body >
<div class="container" data-ng-controller="SimpleController">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<br>
			<form role="form" class="form-inline" >
				<div class="form-group">
					 <label for="start">Start Time</label><input type="datetime-local" class="form-control" id="start"  name="start" placeholder="yyyy-MM-ddTHH:mm">
				</div>
				<div class="form-group">
					 <label for="end">End Time</label><input type="datetime-local" class="form-control" id="end" name="end" placeholder="yyyy-MM-ddTHH:mm">
				</div>
				<div class="form-group">
					 <label for="end">&nbsp</label><button type="submit" class="form-control btn-primary" id="submit" ng-click="restCall()">Submit</button>
				</div>
			</form>
			<br><br>
			<div class="tabbable" id="tabs-923319">
				<ul class="nav nav-tabs">
					<li class="active">
						<a href="#panel-768578" data-toggle="tab">LIA</a>
					</li>
					<li>
						<a href="#panel-336070" data-toggle="tab">LSW</a>
					</li>
				</ul>
				<div class="tab-content">
					<div class="tab-pane active" id="panel-768578">
						<div class="panel panel-default">
							
							<div class="row">
								<div class="col-md-12 column" >
									<p class="text-center text-info"><strong>Event Count {{numberOfEvents}}</strong></p>
									<table class="table table-condensed table-responsive table-bordered" style="table-layout:auto">
										<thead>
											<tr class="info">
												<th class="info"> 
													<p class="text-center text-default">Event</p>
												</th>
												<th class="info"> 
													<p class="text-center text-success">JSON</p>
												</th>
											</tr>
										</thead>
										<tbody>
											<tr class="info"  data-ng-repeat = "event in events track by $index" my-repeat-directive>
												<td class="info"> 
													<table class="table" style="table-layout:auto">
														<tbody>
															<tr class="info">
																<td class="info"> 
																	<p class="text-left">
																	<small>
																	<strong>FormatVersion: </strong><br>
																	<strong>Published: </strong><br>
																	<strong>Source: </strong><br>
																	<strong>EventId: </strong><br>
																	<strong>Service: </strong><br>
																	<strong>Version: </strong><br>
																	<strong>Uid: </strong><br>
																	<strong>Login: </strong><br>
																	<strong>RegistrationStatus: </strong> <br>
																	<strong>Email: </strong><br>
																	<strong>Type: </strong><br>
																	<strong>RegistrationTime: </strong><br>
																	<strong>Verb: </strong><br>
																	<strong>Type: </strong><br>
																	<strong>ConversationType: </strong><br>
																	<strong>ObjectType: </strong><br>
																	<strong>Id: </strong><br>
																	<strong>DisplayName: </strong><br>
																	<strong>Content: </strong><br>
																	<strong>Visibility: </strong><br>
																	<strong>Added: </strong><br>
																	<strong>PostTime: </strong><br>
																	<strong>IsTopic: </strong><br>
																	</small>
																	</p>												
																</td>
																<td class="info"> 
																	<p class="text-left">
																	<small>
																	{{formatVersion}}<br>
																	{{published}}<br> 
																	{{source}} <br> 
																	{{eventId}}<br> 
																	{{service}}<br> 
																	{{version}}<br>
																	{{uid}}<br> 
																	{{login}}<br> 
																	{{registrationStatus}}<br> 
																	{{email}}<br> 
																	{{type}}<br> 
																	{{registrationTime}}<br>
																	{{verb}}<br> 
																	{{type}}<br>
																	{{conversationType}}<br> 
																	{{objectType}}<br>
																	{{id}}<br> 
																	{{displayName}}<br>
																	{{content}}<br> 
																	{{visibility}}<br>
																	{{added}}<br> 
																	{{postTime}}<br>
																	{{isTopic}}<br>
																	</small>
																	</p>												
																</td>
															</tr>
														</tbody>
													</table>											
												</td>
												<td class="info"> 
													<p my-json-directive><small><pre class="text-left" ng-style="{color: 'green', 'background-color':'white'}">{{eventJson}}</pre></small></p>
												</td>
											</tr>
										</tbody>
									</table>
									<li class="animate-repeat" ng-if="numberOfEvents == 0">
	  									<strong>No results found...</strong>
									</li>
									<li class="animate-repeat" ng-if="numberOfEvents == -1">
	  									<strong>{{exception}}</strong>
									</li>
									<div class="text-center">
										<ul class="pagination pull-center pagination-sm">
											<li class="disabled" >
												<a href="#">Prev</a>
											</li>
											<li class="active">
												<a  href="#">1</a>
											</li>
											<li>
												<a href="#">2</a>
											</li>
											<li>
												<a href="#">3</a>
											</li>
											<li>
												<a href="#">4</a>
											</li>
											<li>
												<a href="#">5</a>
											</li>
											<li>
												<a href="#">Next</a>
											</li>
										</ul>
									</div>					                		
								</div>
							</div>
							
						</div>
					</div>
					<div class="tab-pane" id="panel-336070">
						<div class="panel panel-default">
							<div class="panel-heading">
								<h4 class="panel-title">
									Lithium LSW JSON Events
								</h4>
							</div>
							<div class="panel-body">
								<div class="grid">
								    <!-- Specify a JavaScript controller script that binds Javascript variables to the HTML.-->
								    <div class="gridStyle" data-ng-grid="gridOptions"></div>
								</div>								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>
